#---------------------------------------------------------
# Specific templates configuration file
# 4 values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------
# Since v 2.0 the project's variables can be used in file and folder name
#---------------------------------------------------------


Dao Interface class    ; I${BEANNAME}Dao.java          ; ${SRC}/${ROOT_PKG}/dao               ; dao_interface.vm
Dao Implementation class    ; ${BEANNAME}DaoImpl.java          ; ${SRC}/${ROOT_PKG}/dao               ; dao_impl.vm
Base Dao Interface class    ; IBaseDao.java          ; ${SRC}/${ROOT_PKG}/dao               ; base_dao_interface.vm ; 1
Base Dao Implemantation class    ; BaseDaoImpl.java          ; ${SRC}/${ROOT_PKG}/dao               ; base_dao_impl.vm ; 1
App Context xml    ; ${BEANNAME}.xml          ; ${WEB}/WEB-INF/spring/dao               ; application_context.vm ;

Maven pom.xml             ; pom-generated.xml         ;                                    ; pom_xml.vm ; 1
