#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )

package com.converter;

import java.io.Serializable;

import javax.faces.bean.ManagedBean;
import javax.faces.bean.ManagedProperty;
import javax.faces.bean.RequestScoped;
import javax.faces.convert.Converter;
import com.dao.I${entity.name}Service;

import org.apache.log4j.Logger;



@ManagedBean(name = "${uncapitalizedEntityName}Converter")
@RequestScoped
public class ${entity.name}Converter extends BaseConverter implements Converter, Serializable {

	private static final long serialVersionUID = 1L;
	private static final Logger logger = Logger.getLogger(${entity.name}Converter.class);

	@ManagedProperty(value = "#{${uncapitalizedEntityName}Service}")
	private I${entity.name}Service ${uncapitalizedEntityName}Service;

	public void set${entity.name}Service(I${entity.name}Service ${uncapitalizedEntityName}Service) {
		this.${uncapitalizedEntityName}Service = ${uncapitalizedEntityName}Service;
		setEntityService(${uncapitalizedEntityName}Service);
	}

	public I${entity.name}Service get${entity.name}Service() {
		return ${uncapitalizedEntityName}Service;
	}
}
