#---------------------------------------------------------
# Specific templates configuration file
# 4 values separated by ";"
# . value 1 : the label
# . value 2 : the file to be generated ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 3 : the project folder where to generate ( var allowed : ${BEANNAME}, ${BEANNAME_UC}, ${BEANNAME_LC} )
# . value 4 : the template to use
# . value 5 : number of execution : "1" for "ONCE" for all entities, default is multiple executions ( executed for each entity )
#---------------------------------------------------------
# Since v 2.0 the project's variables can be used in file and folder name
#---------------------------------------------------------


Service Interface class    ; I${BEANNAME}Service.java          ; ${SRC}/${ROOT_PKG}/dao               ; service_interface.vm
Service Implementation class    ; ${BEANNAME}ServiceImpl.java          ; ${SRC}/${ROOT_PKG}/dao               ; service_impl.vm
Converter class    ; ${BEANNAME}Converter.java          ; ${SRC}/${ROOT_PKG}/dao               ; converter.vm

Base Service Interface class    ; IBaseService.java          ; ${SRC}/${ROOT_PKG}/dao               ; base_service_interface.vm ; 1
Base Service Implemantation class    ; BaseServiceImpl.java          ; ${SRC}/${ROOT_PKG}/dao               ; base_service_impl.vm ; 1
Base Converter class    ; BaseConverter.java          ; ${SRC}/${ROOT_PKG}/dao               ; base_converter.vm ; 1

Maven pom.xml             ; pom-generated.xml         ;                                    ; pom_xml.vm ; 1
